/* BOOTSTRAP */
@import 'bootstrap';

/* BASE */
@import './base/reset';
@import './base/variables';
@import './base/typography';
@import './base/core'; 
@import './responsive';

/* HELPERS */
@import './helpers/helpers';


header
{
    background-color:#fff;
    padding: 0 !important;

    .logo-link
    {
        overflow: hidden;
        display: block;
        #mainlogo
        {
            padding:10px 0;
            width:100%;
            height: auto;
        }
    }
    .mainmenu
    {
        text-align:right;
        width:100%;
        flex-direction: row !important;
        justify-content: right;
         
        .mainmenu__navitem
        {
            padding: 0 20px; 

            .mainmenu__navitem__innerlink
            {
                text-align:center;
                text-transform: uppercase;
                color: #000;
                font-size: 13px;
                font-family: "Lato";
                font-weight: 500;
            }
            .mainmenu__navitem__innerlink:hover
            {
                opacity: 0.7;
                text-decoration: none;   
            }
        }
    }
    #numeroverde
    {
        height: 116px;
        background-color: $yellow;
        min-width:230px;
        display:flex;
        justify-content: center; 
        

        .numeroverde-img-cont
        {
            align-self: center;            
        }
        .numeroverde-details-cont 
        {
            align-self: center;   
            padding: 0;
            .testo
            {
                font-size:13px;
                line-height: 10px;
                display:block;
                margin: 5px 0;                
            }
            .numero
            {
                display:block;   
                font-size: 18px;
                color: #fff;
                font-weight: 700;
            }
        }

    }
}
/*
.stepcontent .fields
{
    width:100%; 
    display:block;
    clear:both;
    float:none;
    overflow: hidden;
}

.stepcontent[data-step="1"] .fields
{
    display: flex;
    flex-wrap:  wrap;
    flex-direction: column-reverse;
    align-items: flex-start; 
    
    .field-container
    {
        max-width:100%;
        flex: 1 1 50%; 
    }
}
*/
.container
{ 
    width:100%;
    max-width: $media-desktop-max;
    margin:0 auto;
    
}
.uppercase
{
    text-transform: uppercase !important;
}



#form-top-section
{
    background: #e6e6e6 url("/images/testataLanding.png") no-repeat top center;
    background-size: cover;
    padding-bottom: 60px;

    .titolo
    {
        display: flex;
        flex-direction: column-reverse;

        h1
        {
            font-size: 45px;
            line-height: 1.2em;
            font-weight: 600;
            margin-top: 10px;
            text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.15);
            color: #fff;
        }
        h2
        {
            font-size: 27px;
            line-height: 25px;
            font-weight: 600;
            margin-top: 20px;
            text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.15);
            color: #fff;

            .yellow-txt
            {
                color: $yellow;
            }
        }
    }

}
#form-top-section > .row
{
    padding:0;   
}
.form{
    padding:0;   
}
.multi-step-forms
{
    margin: 30px 0;
    width: 100%;
    max-width: 400px;
    float: right;
    
    .formstep-count
    {
        overflow: hidden;
        margin-bottom: 20px; 

        .step-count 
        {
            &.active
            {
                .num
                {
                    background-color: #fff;
                    color:#000
                }
                
            }

            .label
            {
                display:block;
                width: 100%;
                box-sizing: border-box;
                text-align:center;
                color: #fff;
                text-transform: uppercase;
            }
        
            .num
            {
                line-height: 40px;
                height: 40px;
                width: 40px;
                display:block;
                margin:4px auto;
                border-radius:50%;
                border: 1px solid #fff;
                color: #fff;
                background: transparent;
                box-sizing: border-box;
            }
            .num.active
            {
                background: #fff;
                color: #000;
            }
        }
        
    }

    .formstep-content
    {
        min-height: 550px;
        padding:0;
        margin:0;
        text-align: center;
        

        .stepcontent
        {
            display:none;

            &.active{
                display: block;
            }
            
            &[data-step="1"] input[type="text"],
            &[data-step="1"] input[type="text"]
            {
                text-transform: uppercase;
            } 

            padding: 20px;
            border-radius: 5px;
            background-color: rgba(255,255,255,0.9);
            margin:20px 0;
       
            .step-nav-container
            {
                margin-top:20px;
                clear: both;
                width: 100%;
                overflow: hidden;
                button
                {
                    font-weight: 900;
                    color: #fff;
                    text-align: center;
                    padding: 20px;
                    border: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size:13px;
                    

                    &[data-dir="next"]
                    {
                        background-color: $darkbtn;
                        float:right;
                    }
                    &[data-dir="prev"]
                    {
                        background-color: $lightbtn;
                        float:left;
                    }
                    &.col-6
                    {
                        width: calc(50% - 10px);
                    }
                }
                input[type=submit]
                {
                    font-weight: 900;
                    color: #fff;
                    text-align: center;
                    padding: 20px;
                    border: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size:13px;
                    background-color: $primary;
                    width: calc(50% - 10px);
                }
            }
            
            
            .title
            {
                    margin-bottom: 15px;
                    font-weight: 300;
                    font-size: 30px;
                    color: #000; 
                    display:block;
                    width:100%;
                    text-align: center;
            }
            .subtitle
            {
                    margin-bottom: 20px;
                    font-size: 14px;
                    line-height: 15px;
                    color: #6B767C;
                    line-height: 22px;
                    letter-spacing: 0.01em;
                    font-weight: 400;
                    display:block;
                    width:100%; 
                    text-align: center;
            } 
            .note
            {
                font-size: 13px;
                text-align: center;
                display:block;
                text-align: center;
                margin-top: 20px;
            }

            .field-container
            {
                margin:5px 0;
                padding: 0 5px;

                select, input[type=text],input[type=url], input[type=email], input[type=date],input[type=tel]
                {
                    width: 100%;
                    border-radius: 5px;
                    padding: 10px;
                    border: 1px solid #dfdfdf;
                    font-size: 11px;
                    color: #000;
                }
                input[type="checkbox"]
                {
                    margin-right: 5px;
                    float:left;

                    + label
                    {                        
                        padding-left:20px;
                        font-size:11px;
                        line-height: 14px;
                        text-align: left;
                        display: block;                        
                        color:#6B767C;
                    }
                }

                input[type="date"]
                {
                        text-align:center;
                }
                input[type="text"]
                {
                        text-align:center;                        
                        line-height: 22px;
                        font-size: 11px; 
                        padding: 10px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        background: transparent;
                }
                input[type="tel"]
                {
                        text-align:center;
                        line-height: 22px;
                        font-size: 11px;
                        padding: 10px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        background: transparent;

                }
                input[type="email"]
                {
                        text-align:center;
                        line-height: 22px;
                        font-size: 11px;
                        padding: 10px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                }
                    input[type="radio"]
                    {
                        display: none !important;   
                               
                        
                        + label{ 
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            border-radius: 5px;
                            height: 100%;
                            padding: 10px;
                            margin: auto;
                            color: #000;
                            font-weight: normal;
                            font-size: 14px !important;
                            line-height: 22px; 
                        }
                        &:checked
                        {
                            + label
                            { 
                                background-color: $primary;
                            }
                        }
                    }
                    
                .col-12
                {
                    clear: both;
                    float:none;

                }

            }
        }
    }
}

input, button, button:focus {
    outline: 0;
}

